consegne/automazioni/n8n/pubblica-post-programmato.json
{
  "name": "MyCity — Pubblica post programmato",
  "_descrizione": "Workflow n8n di esempio per la Marketing Autopilot. Riceve un'azione di pubblicazione via Webhook (dall'autopilot.mjs o da uno scheduler), instrada al canale giusto (Facebook/Instagram/Google Business/Telegram) e risponde con l'esito. Importalo in n8n (Import from File). I nodi social sono in stato 'da configurare con le credenziali Meta/Google/Telegram di Nicola'. COLORE: 🟡 (pubblica su canali pubblici) — attivalo solo quando le credenziali sono pronte.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mycity-pubblica",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook (azione da autopilot)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "mycity-pubblica"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false }, "conditions": [ { "leftValue": "={{ $json.body.canale }}", "rightValue": "facebook", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "facebook" },
            { "conditions": { "options": { "caseSensitive": false }, "conditions": [ { "leftValue": "={{ $json.body.canale }}", "rightValue": "instagram", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "instagram" },
            { "conditions": { "options": { "caseSensitive": false }, "conditions": [ { "leftValue": "={{ $json.body.canale }}", "rightValue": "gbp", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "gbp" },
            { "conditions": { "options": { "caseSensitive": false }, "conditions": [ { "leftValue": "={{ $json.body.canale }}", "rightValue": "telegram", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "telegram" }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-canale",
      "name": "Instrada per canale",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.FB_PAGE_ID }}/feed",
        "sendBody": true,
        "bodyParameters": { "parameters": [ { "name": "message", "value": "={{ $json.body.testo }}" }, { "name": "access_token", "value": "={{ $env.FB_PAGE_ACCESS_TOKEN }}" } ] },
        "options": {}
      },
      "id": "post-facebook",
      "name": "Facebook Page (configura token)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.IG_USER_ID }}/media",
        "sendBody": true,
        "bodyParameters": { "parameters": [ { "name": "image_url", "value": "={{ $json.body.mediaRef }}" }, { "name": "caption", "value": "={{ $json.body.testo }}" }, { "name": "access_token", "value": "={{ $env.IG_ACCESS_TOKEN }}" } ] },
        "options": {}
      },
      "id": "post-instagram",
      "name": "Instagram media (poi media_publish)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mybusiness.googleapis.com/v4/accounts/{{ $env.GBP_ACCOUNT_ID }}/locations/{{ $env.GBP_LOCATION_ID }}/localPosts",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $env.GBP_ACCESS_TOKEN }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ languageCode: 'it', summary: $json.body.testo, topicType: 'STANDARD' }) }}",
        "options": {}
      },
      "id": "post-gbp",
      "name": "Google Business Profile (OAuth)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": { "parameters": [ { "name": "chat_id", "value": "={{ $env.TELEGRAM_CHAT_ID }}" }, { "name": "text", "value": "={{ $json.body.testo }}" } ] },
        "options": {}
      },
      "id": "post-telegram",
      "name": "Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 540]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ { \"ok\": true, \"canale\": $json.body.canale } }}" },
      "id": "responde",
      "name": "Rispondi esito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook (azione da autopilot)": { "main": [ [ { "node": "Instrada per canale", "type": "main", "index": 0 } ] ] },
    "Instrada per canale": {
      "main": [
        [ { "node": "Facebook Page (configura token)", "type": "main", "index": 0 } ],
        [ { "node": "Instagram media (poi media_publish)", "type": "main", "index": 0 } ],
        [ { "node": "Google Business Profile (OAuth)", "type": "main", "index": 0 } ],
        [ { "node": "Telegram", "type": "main", "index": 0 } ]
      ]
    },
    "Facebook Page (configura token)": { "main": [ [ { "node": "Rispondi esito", "type": "main", "index": 0 } ] ] },
    "Instagram media (poi media_publish)": { "main": [ [ { "node": "Rispondi esito", "type": "main", "index": 0 } ] ] },
    "Google Business Profile (OAuth)": { "main": [ [ { "node": "Rispondi esito", "type": "main", "index": 0 } ] ] },
    "Telegram": { "main": [ [ { "node": "Rispondi esito", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
