consegne/automazioni/n8n/raccolta-iscritti-lista-attesa.json
{
  "name": "MyCity — Raccolta iscritti lista d'attesa → notifica",
  "_descrizione": "Workflow n8n di esempio: un nuovo iscritto alla lista d'attesa (da un form/landing che fa POST al webhook) viene (1) salvato su Google Sheets, (2) notificato a Nicola via Telegram, (3) accolto con una email di benvenuto via Resend. Importalo in n8n. Le credenziali (Google, Telegram, Resend) vanno configurate da Nicola. COLORE: 🟡 — la email di benvenuto al cliente reale richiede footer disiscrizione/consenso (peer review @legale-privacy) prima di attivarla.",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "mycity-iscritto", "responseMode": "responseNode", "options": {} },
      "id": "webhook-iscritto",
      "name": "Webhook (nuovo iscritto)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "mycity-iscritto"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "={{ $env.SHEET_ISCRITTI_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Iscritti", "mode": "name" },
        "columns": { "mappingMode": "defineBelow", "value": { "data": "={{ $now.toISO() }}", "email": "={{ $json.body.email }}", "nome": "={{ $json.body.nome }}", "zona": "={{ $json.body.zona }}" } },
        "options": {}
      },
      "id": "salva-sheet",
      "name": "Salva su Google Sheets (configura cred.)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [520, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": { "parameters": [ { "name": "chat_id", "value": "={{ $env.TELEGRAM_CHAT_ID }}" }, { "name": "text", "value": "=🎉 Nuovo iscritto MyCity: {{ $json.body.nome }} ({{ $json.body.email }}) — zona {{ $json.body.zona }}" } ] },
        "options": {}
      },
      "id": "avvisa-telegram",
      "name": "Avvisa Nicola (Telegram)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: $env.RESEND_FROM, to: $json.body.email, subject: 'Benvenuto in MyCity 🛍️', text: 'Grazie per esserti iscritto alla lista d\\'attesa di MyCity! Ti avviseremo appena le botteghe di Piacenza saranno online vicino a te. — Il team MyCity' }) }}",
        "options": {}
      },
      "id": "benvenuto-email",
      "name": "Email benvenuto (Resend — valida legale)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 360]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ { \"ok\": true } }}" },
      "id": "responde-iscritto",
      "name": "Rispondi 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook (nuovo iscritto)": { "main": [ [ { "node": "Salva su Google Sheets (configura cred.)", "type": "main", "index": 0 }, { "node": "Avvisa Nicola (Telegram)", "type": "main", "index": 0 } ] ] },
    "Avvisa Nicola (Telegram)": { "main": [ [ { "node": "Email benvenuto (Resend — valida legale)", "type": "main", "index": 0 } ] ] },
    "Email benvenuto (Resend — valida legale)": { "main": [ [ { "node": "Rispondi 200", "type": "main", "index": 0 } ] ] },
    "Salva su Google Sheets (configura cred.)": { "main": [ [ { "node": "Rispondi 200", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
