consegne/automazioni/n8n/workflows/12-03-carrelli-02-carrello-24h-secondo.json
{
  "id": "69496637-838d-42bf-bdcd-d032753a5b74",
  "versionId": "69496637-838d-42bf-bdcd-d032753a5b74",
  "name": "MyCity 12 — Carrello abbandonato 24 ore",
  "_descrizione": "Secondo touch email + link diretto checkout. COLORE: 🔴 — stub importabile: sostituisci «Stub Telegram» con l'azione reale (Meta/Resend/Sheets/API). Attiva solo con credenziali pronte.",
  "_categoria": "03-carrelli",
  "_numero": 12,
  "_colore": "🔴",
  "_webhook_path": "mycity-wf-12-carrello-24h-secondo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mycity-wf-12-carrello-24h-secondo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook (da worker/card)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "mycity-wf-12-carrello-24h-secondo"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"workflow\":\"Carrello abbandonato 24 ore\",\"categoria\":\"03-carrelli\",\"numero\":12,\"colore\":\"🔴\",\"nota\":\"Secondo touch email + link diretto checkout.\",\"payload\":\"={{ $json.body || $json }}\"}"
      },
      "id": "set-meta",
      "name": "Metadati workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=🤖 [STUB 12] Carrello abbandonato 24 ore\nSecondo touch email + link diretto checkout.\n\nConfigura i nodi azione prima di attivare. Colore: 🔴"
            }
          ]
        },
        "options": {}
      },
      "id": "stub-telegram",
      "name": "Stub Telegram (sostituire)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"workflow\": \"Carrello abbandonato 24 ore\" } }}"
      },
      "id": "respond",
      "name": "Rispondi OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (da worker/card)": {
      "main": [
        [
          {
            "node": "Metadati workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadati workflow": {
      "main": [
        [
          {
            "node": "Stub Telegram (sostituire)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stub Telegram (sostituire)": {
      "main": [
        [
          {
            "node": "Rispondi OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
