consegne/automazioni/n8n/workflows/19-04-fidelizzazione-04-promemoria-riordino.json
{
  "id": "02f50c06-a247-4347-9639-d7325f3dac87",
  "versionId": "02f50c06-a247-4347-9639-d7325f3dac87",
  "name": "MyCity 19 — Promemoria riordino pane/freschi",
  "_descrizione": "Cron per categoria ad alta frequenza → email «serve di nuovo?». COLORE: 🔴 — stub importabile: sostituisci «Stub Telegram» con l'azione reale (Meta/Resend/Sheets/API). Attiva solo con credenziali pronte.",
  "_categoria": "04-fidelizzazione",
  "_numero": 19,
  "_colore": "🔴",
  "_webhook_path": null,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Schedule (modifica orario)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"workflow\":\"Promemoria riordino pane/freschi\",\"categoria\":\"04-fidelizzazione\",\"numero\":19,\"colore\":\"🔴\",\"nota\":\"Cron per categoria ad alta frequenza → email «serve di nuovo?».\",\"payload\":\"={{ $json.body || $json }}\"}"
      },
      "id": "set-meta",
      "name": "Metadati workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=🤖 [STUB 19] Promemoria riordino pane/freschi\nCron per categoria ad alta frequenza → email «serve di nuovo?».\n\nConfigura i nodi azione prima di attivare. Colore: 🔴"
            }
          ]
        },
        "options": {}
      },
      "id": "stub-telegram",
      "name": "Stub Telegram (sostituire)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Schedule (modifica orario)": {
      "main": [
        [
          {
            "node": "Metadati workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadati workflow": {
      "main": [
        [
          {
            "node": "Stub Telegram (sostituire)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
