consegne/automazioni/n8n/workflows/21-05-negozi-01-nuovo-ordine-negozio.json
{
  "id": "3a643fe5-0736-4a38-b0d5-a795f5c892f6",
  "versionId": "3a643fe5-0736-4a38-b0d5-a795f5c892f6",
  "name": "MyCity 21 — Notifica nuovo ordine al negozio",
  "_descrizione": "Webhook ordine pagato → email/WhatsApp negozio. COLORE: 🔴 — stub importabile: sostituisci «Stub Telegram» con l'azione reale (Meta/Resend/Sheets/API). Attiva solo con credenziali pronte.",
  "_categoria": "05-negozi",
  "_numero": 21,
  "_colore": "🔴",
  "_webhook_path": "mycity-wf-21-nuovo-ordine-negozio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mycity-wf-21-nuovo-ordine-negozio",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook (da worker/card)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "mycity-wf-21-nuovo-ordine-negozio"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"workflow\":\"Notifica nuovo ordine al negozio\",\"categoria\":\"05-negozi\",\"numero\":21,\"colore\":\"🔴\",\"nota\":\"Webhook ordine pagato → email/WhatsApp negozio.\",\"payload\":\"={{ $json.body || $json }}\"}"
      },
      "id": "set-meta",
      "name": "Metadati workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=🤖 [STUB 21] Notifica nuovo ordine al negozio\nWebhook ordine pagato → email/WhatsApp negozio.\n\nConfigura i nodi azione prima di attivare. Colore: 🔴"
            }
          ]
        },
        "options": {}
      },
      "id": "stub-telegram",
      "name": "Stub Telegram (sostituire)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"workflow\": \"Notifica nuovo ordine al negozio\" } }}"
      },
      "id": "respond",
      "name": "Rispondi OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (da worker/card)": {
      "main": [
        [
          {
            "node": "Metadati workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadati workflow": {
      "main": [
        [
          {
            "node": "Stub Telegram (sostituire)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stub Telegram (sostituire)": {
      "main": [
        [
          {
            "node": "Rispondi OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
