consegne/automazioni/n8n/workflows/28-06-operations-03-meteo-pioggia-ops.json
{
  "id": "b6f189f5-87e9-4687-803a-eae1ab6382dd",
  "versionId": "b6f189f5-87e9-4687-803a-eae1ab6382dd",
  "name": "MyCity 28 — Meteo pioggia → post + ops",
  "_descrizione": "OpenWeather pioggia → prepara post delivery + alert rider. COLORE: 🔴 — stub importabile: sostituisci «Stub Telegram» con l'azione reale (Meta/Resend/Sheets/API). Attiva solo con credenziali pronte.",
  "_categoria": "06-operations",
  "_numero": 28,
  "_colore": "🔴",
  "_webhook_path": "mycity-wf-28-meteo-pioggia-ops",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mycity-wf-28-meteo-pioggia-ops",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook (da worker/card)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "mycity-wf-28-meteo-pioggia-ops"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"workflow\":\"Meteo pioggia → post + ops\",\"categoria\":\"06-operations\",\"numero\":28,\"colore\":\"🔴\",\"nota\":\"OpenWeather pioggia → prepara post delivery + alert rider.\",\"payload\":\"={{ $json.body || $json }}\"}"
      },
      "id": "set-meta",
      "name": "Metadati workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=🤖 [STUB 28] Meteo pioggia → post + ops\nOpenWeather pioggia → prepara post delivery + alert rider.\n\nConfigura i nodi azione prima di attivare. Colore: 🔴"
            }
          ]
        },
        "options": {}
      },
      "id": "stub-telegram",
      "name": "Stub Telegram (sostituire)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"workflow\": \"Meteo pioggia → post + ops\" } }}"
      },
      "id": "respond",
      "name": "Rispondi OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (da worker/card)": {
      "main": [
        [
          {
            "node": "Metadati workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadati workflow": {
      "main": [
        [
          {
            "node": "Stub Telegram (sostituire)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stub Telegram (sostituire)": {
      "main": [
        [
          {
            "node": "Rispondi OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
