consegne/automazioni/n8n/workflows/29-06-operations-04-pagamento-fallito.json
{
  "id": "1ffbc81b-3d8d-4a3b-8c18-17aeb697e138",
  "versionId": "1ffbc81b-3d8d-4a3b-8c18-17aeb697e138",
  "name": "MyCity 29 — Pagamento fallito cliente",
  "_descrizione": "Stripe webhook fail → email cliente + Telegram ops. COLORE: 🔴 — stub importabile: sostituisci «Stub Telegram» con l'azione reale (Meta/Resend/Sheets/API). Attiva solo con credenziali pronte.",
  "_categoria": "06-operations",
  "_numero": 29,
  "_colore": "🔴",
  "_webhook_path": "mycity-wf-29-pagamento-fallito",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mycity-wf-29-pagamento-fallito",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook (da worker/card)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "mycity-wf-29-pagamento-fallito"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"workflow\":\"Pagamento fallito cliente\",\"categoria\":\"06-operations\",\"numero\":29,\"colore\":\"🔴\",\"nota\":\"Stripe webhook fail → email cliente + Telegram ops.\",\"payload\":\"={{ $json.body || $json }}\"}"
      },
      "id": "set-meta",
      "name": "Metadati workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=🤖 [STUB 29] Pagamento fallito cliente\nStripe webhook fail → email cliente + Telegram ops.\n\nConfigura i nodi azione prima di attivare. Colore: 🔴"
            }
          ]
        },
        "options": {}
      },
      "id": "stub-telegram",
      "name": "Stub Telegram (sostituire)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"workflow\": \"Pagamento fallito cliente\" } }}"
      },
      "id": "respond",
      "name": "Rispondi OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (da worker/card)": {
      "main": [
        [
          {
            "node": "Metadati workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadati workflow": {
      "main": [
        [
          {
            "node": "Stub Telegram (sostituire)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stub Telegram (sostituire)": {
      "main": [
        [
          {
            "node": "Rispondi OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
