consegne/automazioni/n8n/workflows/36-08-marketing-locale-01-post-meteo-pioggia.json
{
  "id": "724651b8-be50-48b2-8dd8-f180e9c12e76",
  "versionId": "724651b8-be50-48b2-8dd8-f180e9c12e76",
  "name": "MyCity 36 — Post pioggia + delivery",
  "_descrizione": "Meteo → bozza post «resta a casa» → accoda card 🔴. COLORE: 🔴 — stub importabile: sostituisci «Stub Telegram» con l'azione reale (Meta/Resend/Sheets/API). Attiva solo con credenziali pronte.",
  "_categoria": "08-marketing-locale",
  "_numero": 36,
  "_colore": "🔴",
  "_webhook_path": "mycity-wf-36-post-meteo-pioggia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mycity-wf-36-post-meteo-pioggia",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook (da worker/card)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "mycity-wf-36-post-meteo-pioggia"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"workflow\":\"Post pioggia + delivery\",\"categoria\":\"08-marketing-locale\",\"numero\":36,\"colore\":\"🔴\",\"nota\":\"Meteo → bozza post «resta a casa» → accoda card 🔴.\",\"payload\":\"={{ $json.body || $json }}\"}"
      },
      "id": "set-meta",
      "name": "Metadati workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=🤖 [STUB 36] Post pioggia + delivery\nMeteo → bozza post «resta a casa» → accoda card 🔴.\n\nConfigura i nodi azione prima di attivare. Colore: 🔴"
            }
          ]
        },
        "options": {}
      },
      "id": "stub-telegram",
      "name": "Stub Telegram (sostituire)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"workflow\": \"Post pioggia + delivery\" } }}"
      },
      "id": "respond",
      "name": "Rispondi OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (da worker/card)": {
      "main": [
        [
          {
            "node": "Metadati workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadati workflow": {
      "main": [
        [
          {
            "node": "Stub Telegram (sostituire)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stub Telegram (sostituire)": {
      "main": [
        [
          {
            "node": "Rispondi OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
