consegne/automazioni/n8n/workflows/41-09-intelligence-01-rss-bandi-comune.json
{
  "id": "fed65e99-3670-4865-8802-ef3aceaf2c7f",
  "versionId": "fed65e99-3670-4865-8802-ef3aceaf2c7f",
  "name": "MyCity 41 — RSS bandi Comune",
  "_descrizione": "Cron 7:00 → RSS Comune/CCIAA → filtro 5 righe → Telegram. COLORE: 🟢 — stub importabile: sostituisci «Stub Telegram» con l'azione reale (Meta/Resend/Sheets/API). Attiva solo con credenziali pronte.",
  "_categoria": "09-intelligence",
  "_numero": 41,
  "_colore": "🟢",
  "_webhook_path": null,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Schedule (modifica orario)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"workflow\":\"RSS bandi Comune\",\"categoria\":\"09-intelligence\",\"numero\":41,\"colore\":\"🟢\",\"nota\":\"Cron 7:00 → RSS Comune/CCIAA → filtro 5 righe → Telegram.\",\"payload\":\"={{ $json.body || $json }}\"}"
      },
      "id": "set-meta",
      "name": "Metadati workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=🤖 [STUB 41] RSS bandi Comune\nCron 7:00 → RSS Comune/CCIAA → filtro 5 righe → Telegram.\n\nConfigura i nodi azione prima di attivare. Colore: 🟢"
            }
          ]
        },
        "options": {}
      },
      "id": "stub-telegram",
      "name": "Stub Telegram (sostituire)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Schedule (modifica orario)": {
      "main": [
        [
          {
            "node": "Metadati workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadati workflow": {
      "main": [
        [
          {
            "node": "Stub Telegram (sostituire)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
