consegne/automazioni/n8n/workflows/42-09-intelligence-02-rss-vita-centro.json
{
  "id": "5ab0cd7a-8de0-468d-9b90-0671a14c032a",
  "versionId": "5ab0cd7a-8de0-468d-9b90-0671a14c032a",
  "name": "MyCity 42 — RSS Vita in Centro / CNA",
  "_descrizione": "Cron → feed associazioni → riassunto Telegram. COLORE: 🟢 — stub importabile: sostituisci «Stub Telegram» con l'azione reale (Meta/Resend/Sheets/API). Attiva solo con credenziali pronte.",
  "_categoria": "09-intelligence",
  "_numero": 42,
  "_colore": "🟢",
  "_webhook_path": null,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Schedule (modifica orario)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"workflow\":\"RSS Vita in Centro / CNA\",\"categoria\":\"09-intelligence\",\"numero\":42,\"colore\":\"🟢\",\"nota\":\"Cron → feed associazioni → riassunto Telegram.\",\"payload\":\"={{ $json.body || $json }}\"}"
      },
      "id": "set-meta",
      "name": "Metadati workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=🤖 [STUB 42] RSS Vita in Centro / CNA\nCron → feed associazioni → riassunto Telegram.\n\nConfigura i nodi azione prima di attivare. Colore: 🟢"
            }
          ]
        },
        "options": {}
      },
      "id": "stub-telegram",
      "name": "Stub Telegram (sostituire)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Schedule (modifica orario)": {
      "main": [
        [
          {
            "node": "Metadati workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadati workflow": {
      "main": [
        [
          {
            "node": "Stub Telegram (sostituire)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
