consegne/automazioni/n8n/workflows/47-10-backoffice-02-runway-cassa-alert.json
{
  "id": "95c87024-8fb6-4323-bdc0-75180981707c",
  "versionId": "95c87024-8fb6-4323-bdc0-75180981707c",
  "name": "MyCity 47 — Alert runway cassa",
  "_descrizione": "Cron → se burn/runway sotto soglia → Telegram. COLORE: 🟡 — stub importabile: sostituisci «Stub Telegram» con l'azione reale (Meta/Resend/Sheets/API). Attiva solo con credenziali pronte.",
  "_categoria": "10-backoffice",
  "_numero": 47,
  "_colore": "🟡",
  "_webhook_path": null,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Schedule (modifica orario)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"workflow\":\"Alert runway cassa\",\"categoria\":\"10-backoffice\",\"numero\":47,\"colore\":\"🟡\",\"nota\":\"Cron → se burn/runway sotto soglia → Telegram.\",\"payload\":\"={{ $json.body || $json }}\"}"
      },
      "id": "set-meta",
      "name": "Metadati workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=🤖 [STUB 47] Alert runway cassa\nCron → se burn/runway sotto soglia → Telegram.\n\nConfigura i nodi azione prima di attivare. Colore: 🟡"
            }
          ]
        },
        "options": {}
      },
      "id": "stub-telegram",
      "name": "Stub Telegram (sostituire)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Schedule (modifica orario)": {
      "main": [
        [
          {
            "node": "Metadati workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadati workflow": {
      "main": [
        [
          {
            "node": "Stub Telegram (sostituire)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
